
@media (min-width: 1152px) {
    aside {
        display: flex;
        width: 10rem;
        height: 100% !important;
        background-color: var(--bg-aside);
        padding: 8px;
        animation: forwards responsivityAnimationBar 0.5s;
        border-radius: 8px 8px 16px 16px;
    }
    .tab{
        width: 0;
        height: 0;
        opacity: 0;
    }
}

@media (max-width: 1152px) {
    .tab{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--bg-home);
        opacity: 1;
        background-image: url(../img/3bar.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 35px;
        overflow: hidden;
        animation: forwards responsivityAnimationTab 0.5s;
    }
    .tab button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        opacity: 0;
    }
    aside{
        display: none;
    }
}

@media (max-width: 100dvw){
    body{
        height: 100% !important;
    }
    .container{
        height: 100% !important;
    }
    main{
        height: 100% !important;
    }
}

@media (max-height: 100dvh){
    main{
        height: 100dvh;
    }
}

@media (min-height: 100dvh){
    main{
        height: 100%;
    }
}

@keyframes responsivityAnimationTab {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    100% {
        width: 50px;
        height: 50px;
        opacity: 1;
    }    
}
@keyframes responsivityAnimationBar {
    0% {
        width: 0;
        height: 100vh;
        opacity: 0;
    }
    100% {
        width: 10rem;
        height: 100vh;
        opacity: 1;
    }    
}

.subjects {
    display: flex;
    margin-top: 4px;
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    animation-name: startAnimation1;
    animation-duration: 0.5s;
    gap: 4px;
}
.subjects [id]{
    width: 100%;
    height: 50px;
}
.subjects [id] > a{
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: var(--bg-contents-aside-subjects);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    animation-name: startAnimation1;
    animation-duration: 0.5s;
    text-decoration: none;
}
.subjects [id] p{
    font-size: 150%;
    font-weight: bolder;
    margin: 20px;
    color: var(--text-color);
}
.subjects [id] p:hover{
    color: white;
    cursor: pointer;
}

.container{
    gap:20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.contents{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    padding: 20px;
    line-height: 1.6; 
    text-align: justify;
    gap: 100px;
}

main{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roma';
    font-size: 20px;
    margin: 20px;
    border-radius: 5px;
    transform-origin: top;
    height: auto;
    width: auto;
    background-color: white;
}

/* PÁGINA CONTENTS */

.iframeSubject{
    transform-origin: top;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70dvw;
    height: 15px;
    padding: 50px;
    gap: 30px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    transition: 2s;
}

.iframe{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.iframeSubject.expandido {
    height: 1000px;
}



.iframeSubjectBar{
    width: 45px;
    border-radius: 6px;
    height: 10px;
    background-color: black;
}

#main{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roma';
    font-size: 20px;
    margin: 20px;
    border-radius: 5px;
    transform-origin: top;
    height: auto;
    width: auto;
    background-color: transparent;
}








