@import url(https://db.onlinewebfonts.com/c/d9d77150b3dda1eea88a7a8f979e7711?family=DM+Sans+Regular);

/*HEADER*/
body {
    background-color: var(--bg-color);
    user-select: none;
    width: 100%;
    height: 100dvh;
    font-family: "DM Sans Regular";
}

:root {
    /*cores light theme*/

    /*layout padrao*/
    --bg-color: #d6d5d5;
    --bg-navbar-1: #494949;
    --bg-navbar-2: #000000;
    --bd-nav: #30353a;
    --text-color: #000000;
    --bd-shadow-activities: #3d3d3d;
    /*botoes*/
    --bg-home: #deb887;
    --bg-homeText: black;
    --bd-home-hover: #6b6b6bc4;
    --bd-default: #3d3d3d;
    --bg-SubjectsBtn: #000000;
    --bg-SubjectsBtnText: #deb887;
    --bg-subjectsBtn-hover: #6b6b6bc4;
    /*aside*/
    --bg-aside: #c4c4c4;
    --bd-aside: #717d8b;
    --bd-aside-hover: #535f6de6;
    --bg-aside-hover-red: #e05e5ecc;
    --bg-aside-hover-green: #83e05ecc;
    /*activity*/
    --bg-activities: #deb887;
    /*profile*/
    --bg-profile-btn: #deb887;
    --bg-usercard: #ffffff9a;
    --bd-usercard: #979797;
    /*textos*/
    --input-lbl: #646464;
    --input-bg: #d8d8d8;
    --input-bd-hover: #9696c8;
    --text-color-img: #777;
    --text-color-h1: #002147;
    --text-color-h2: #004080;
    /*conteudos*/
    --bg-contents-aside-subjects: #727272;
    --bg-contents-main: #dadada;
    --subject-shadow: 0 4px 8px rgba(0, 0, 0, 1.0);
    /*materias bg*/
    --sun-color: #ffe02f;
}

.dark {
    /* layout padrão */
    --bg-color: #1e1e1e;
    --bg-navbar-1: #2c2c2c;
    --bg-navbar-2: #121212;
    --bd-nav: #333840;
    --text-color: #e1e1e1;
    --bd-shadow-activities: #918f8f;
    /* botões */
    --bg-home: #0f0720;
    --bg-home-hover: #a97444cc;
    --bg-homeText: white;
    --bd-default: #6c6c6c;
    --bd-default: #1a0a3d;
    --bg-SubjectsBtn: #dadada;
    --bg-SubjectsBtnText: #0f0720;
    --bg-subjectsBtn-hover: #6c6c6c;

    /* aside */
    --bg-aside: #2a2a2a;
    --bd-aside: #444c56;
    --bd-aside-hover: #6c6c6ce6;
    --bg-aside-hover-red: #c94c4ccc;
    --bg-aside-hover-green: #5fc94ccc;

    /*activity*/
    --bg-activities: #110d18;

    /* profile */
    --bg-profile-btn: #dadada;
    --bg-usercard: #2e2e2e99;
    --bd-usercard: #5a5a5a;

    /* textos */
    --input-lbl: #c0c0c0;
    --input-bg: #3a3a3a;
    --input-bd-hover: #6d6db8;
    --text-color-img: #777;
    --text-color-h1: #1f6be7;
    --text-color-h2: #709cd1;

    /* conteúdos */
    --bg-contents-aside-subjects: #3b3b3b;
    --bg-contents-main: #2f2f2f;
    --subject-shadow: 0 4px 8px #ffffff;
    /*materias bg*/
    --sun-color: #c5c5c5;
}

nav {
    top: 10px;
    position: sticky;
    flex-direction: row;
    display: block;
    width: 99%;
    height: 68px;
    background: linear-gradient(to left, var(--bg-navbar-1), var(--bg-navbar-2));
    border: 3px solid var(--bd-nav);
    margin: 0px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 6px;
    margin: auto;
}

body .container {
    align-items: flex-start;
}

.home {
    display: flex;
    width: 100px;
    height: 50px;
    color: var(--bg-homeText);
    background-color: var(--bg-home);
    border: 3px solid var(--bd-default);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    animation: Startanimation1 0.5s;
    overflow: hidden;
    cursor: pointer;
}

.home button {
    position: absolute;
    height: 50px;
    width: 100px;
    opacity: 1;
    z-index: 1;
}

.button {
    position: absolute;
    height: 50px;
    width: 100px;
    opacity: 1;
    cursor: pointer;
    z-index: 1;
}

.Pbutton {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    opacity: 1;
    cursor: pointer;
    z-index: 1;
}

.home:hover {
    background-color: var(--bd-home-hover);
}

.container h1 {
    text-align: center;
    margin: 0;
    font-size: 25px;
}

.SubjectsContents {
    display: flex;
    width: 152px;
    height: 50px;
    background-color: var(--bg-SubjectsBtn);
    border: 3px solid var(--bd-default);
    color: var(--bg-SubjectsBtnText);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    animation-name: StartAnimation1;
    animation-duration: 0.5s;
    overflow: hidden;
}

.SubjectsContents:hover {
    background-color: var(--bg-subjectsBtn-hover);
}

.SubjectsContents h2 {
    text-align: center;
    margin: 0;
    flex-wrap: nowrap;
}

.profile {
    position: absolute;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--bg-profile-btn);
    border: 3px solid var(--bd-default);
    border-radius: 50%;
    background-image: url(../img/userico.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: StartAnimation1;
    animation-duration: 0.5s;
}

.profile button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.1;
}

.profile:hover {
    background-color: var(--bg-profile-btn);

}

/*HEADER*/

/*BODY*/


/*Section*/


section .activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    flex-wrap: wrap;
}

section h2 {
    color: var(--text-color);
    font-size: xx-large;
    text-align: center;
}

section .activity>[id] {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 300px;
    max-width: 600px;
    max-height: 200px;
    height: 100px;
    background-color: var(--bg-home);
    border: 2px solid var(--bd-default);
    border-radius: 4px;
    box-shadow: var(--bd-shadow-activities) 0px 0px 10px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    scale: 1.3;
}



section .activity>[id] p {
    z-index: 5;
    position: absolute;
}

.dark section .activity [id] p {
    color: var(--text-color);
}

section .activity>[id]:hover {
    border-radius: 8px;
    border: 8px solid var(--bd-default);
    scale: 1.35;
}

section .activity>[id] a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 6;
}

@keyframes StartAnimation1 {
    from {
        opacity: 0;
        width: 0px;
    }
}