@import url(https://db.onlinewebfonts.com/c/d9d77150b3dda1eea88a7a8f979e7711?family=DM+Sans+Regular);

/*HEADER*/
body {
    background-color: var(--bg-color);
    user-select: none;
    width: 100%;
    height: 100dvh;
    font-family: "DM Sans Regular";

    /*cores light theme*/

    /*layout padrao*/
    --bg-color: #9b9b9b;
    --bg-navbar-1: #494949;
    --bg-navbar-2: #000000;
    --bd-nav: #30353a;
    --text-color: #000000;
    /*botoes*/
    --bg-home: #deb887;
    --bd-home-hover: #deb887c4;
    --bd-default: #535f6d;
    --bg-SubjectsBtn: #cede87;
    --bg-subjectsBtn-hover: #cede87c4;
    /*aside*/
    --bg-aside: #c4c4c4;
    --bd-aside: #717d8b;
    --bd-aside-hover: #535f6de6;
    --bg-aside-hover-red: #e05e5ecc;
    --bg-aside-hover-green: #83e05ecc;
    /*activity*/
    --bg-activities: #deb887;
    /*profile*/
    --bg-usercard: #ffffff9a;
    --bd-usercard: #979797;
    /*textos*/
    --input-lbl: #646464;
    --input-bg: #d8d8d8;
    --input-bd-hover: #9696c8;
    --text-color-img: #777;
    --text-color-h1: #002147;
    --text-color-h2: #004080;
    /*conteudos*/
    --bg-contents-aside-subjects: #727272;
    --bg-contents-main: #dadada;
    /*materias bg*/
    --sun-color: #ffe02f;
}

.dark {
    /* layout padrão */
    --bg-color: #1e1e1e;
    --bg-navbar-1: #2c2c2c;
    --bg-navbar-2: #121212;
    --bd-nav: #333840;
    --text-color: #e1e1e1;

    /* botões */
    --bg-home: #a97444;
    --bg-home-hover: #a97444cc;
    --bd-default: #6c6c6c;
    --bg-SubjectsBtn: #9aa64c;
    --bg-subjectsBtn-hover: #9aa64ccc;

    /* aside */
    --bg-aside: #2a2a2a;
    --bd-aside: #444c56;
    --bd-aside-hover: #6c6c6ce6;
    --bg-aside-hover-red: #c94c4ccc;
    --bg-aside-hover-green: #5fc94ccc;

    /*activity*/
    --bg-activities: #002147;

    /* profile */
    --bg-usercard: #2e2e2e99;
    --bd-usercard: #5a5a5a;

    /* textos */
    --input-lbl: #c0c0c0;
    --input-bg: #3a3a3a;
    --input-bd-hover: #6d6db8;
    --text-color-img: #777;
    --text-color-h1: #1f6be7;
    --text-color-h2: #709cd1;

    /* conteúdos */
    --bg-contents-aside-subjects: #3b3b3b;
    --bg-contents-main: #2f2f2f;
    /*materias bg*/
    --sun-color: #c5c5c5;
}

nav {
    display: flex;
    flex-direction: row;
    display: block;
    width: 99%;
    height: 68px;
    background: linear-gradient(to left, var(--bg-navbar-1), var(--bg-navbar-2));
    border: 3px solid var(--bd-nav);
    margin: 0px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    gap: 5px;
    padding: 6px;
    margin: auto;
}

body .container {
    align-items: flex-start;
}

.home {
    display: flex;
    width: 100px;
    height: 50px;
    background-color: var(--bg-home);
    border: 3px solid var(--bd-default);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    animation-name: startAnimation1;
    animation-duration: 0.5s;
    overflow: hidden;
}

.home button {
    position: absolute;
    height: 50px;
    width: 100px;
    opacity: 100;
    z-index: 9999;
}

.button {
    position: absolute;
    height: 50px;
    width: 100px;
    opacity: 100;
    z-index: 9999;
    cursor: pointer;
}

.Pbutton {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    opacity: 100;
    z-index: 9999;
    cursor: pointer;
}

.home:hover {
    background-color: var(--bd-home-hover);
}

.container h1 {
    text-align: center;
    margin: 0;
    font-size: 25px;
}

.SubjectsContents {
    display: flex;
    width: 152px;
    height: 50px;
    background-color: var(--bg-SubjectsBtn);
    border: 3px solid var(--bd-default);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    animation-name: startAnimation1;
    animation-duration: 0.5s;
    overflow: hidden;
}

.SubjectsContents:hover {
    background-color: var(--bg-subjectsBtn-hover);

}

.SubjectsContents h1 {
    text-align: center;
    margin: 0;
    flex-wrap: nowrap;
}

.profile {
    position: absolute;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--bg-home);
    border: 3px solid var(--bd-default);
    border-radius: 50%;
    background-image: url(../img/userico.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: startAnimation1;
    animation-duration: 0.5s;
}

.profile button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.1;
    z-index: 9999;
}

.profile:hover {
    background-color: var(--bd-home-hover);

}

.profile img:hover {
    filter: invert(100%);
}

/*HEADER*/

/*BODY*/

aside [class^="sidebar"] {
    --sidebar-width: 20px;
    /* Default collapsed width */
    --sidebar-width-expand: 100px;
    /* Expanded width on hover */
    width: var(--sidebar-width);
    /* Use the default width */
    height: 160px;
    user-select: none;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(87, 90, 94);
    border-radius: 8px;
    padding: 3px;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
    /* Sync transitions */
}

aside .sidebar:hover {
    width: var(--sidebar-width-expand);
    /* Expand the sidebar on hover */
    background-color: white;
    /* Optional hover background color */
}

aside [id^="selbtn"] {
    display: flex;
    width: var(--sidebar-width);
    /* Match the sidebar's width */
    height: 50px;
    background-color: rgb(189, 189, 189);
    border: 3px solid rgb(83, 95, 109);
    border-radius: 8px;
    align-self: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    box-sizing: border-box;
    overflow: hidden;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
    /* Sync transitions */
}

aside [id^="selbtn"] p {
    opacity: 0;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    transition: opacity 0.3s ease-in-out;
}

aside [class^="sidebar"]:hover [id^="selbtn"] {
    width: var(--sidebar-width-expand);
    background-color: rgba(143, 138, 138, 0.8);
    opacity: 1;
}

aside [class^="sidebar"]:hover [id^="selbtn"] p {
    opacity: 1;
}

aside [id^="selbtn"]:first-child:hover {
    background-color: rgba(224, 94, 94, 0.8);
}

aside [id^="selbtn"]:last-child:hover {
    background-color: rgba(131, 224, 94, 0.8);
}

aside [id^="selbtn"]:nth-child(2):hover {
    background-color: rgba(252, 124, 5, 0.8);
}

@media (min-width: 1152px) {
    aside [class^="sidebar"] {
        width: var(--sidebar-width-expand);
        /* Use the expanded width */
    }

    aside [id^="selbtn"] {
        width: var(--sidebar-width-expand);
        /* Match the expanded sidebar width */
    }

    aside [class^="sidebar"] [id^="selbtn"] p {
        opacity: 1;

    }

    aside [id^="selbtn"]:first-child {
        background-color: var(--bg-aside-hover-red);
    }

    aside [id^="selbtn"]:last-child {
        background-color: var(--bg-aside-hover-green);

    }
}

/*Section*/
section .activity {
    display: flex;
    width: 100%;
    height: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

section .activity>[id] {
    margin: 10px;
    width: 300px;
    max-width: 600px;
    max-height: 200px;
    height: 100px;
    background-color: var(--bg-home);
    box-shadow: 8px var(--bd-default);
    border: 4px solid var(--bd-default);
    border-radius: 4px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

section .activity>[id] {
    background-color: #002147;
}

section .activity>[id] p {
    z-index: 9999;
    position: absolute;
}

.dark section .activity [id] p {
    color: var(--text-color);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

section .activity>[id]:hover {
    border-radius: 8px;
    border: 6px solid var(--bd-default);
    scale: 1.1;
}

section .activity>[id] a {
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: turquoise;
}

@keyframes startAnimation1 {
    from {
        opacity: 0;
        width: 0px;
    }

    to {}
}